@CHARSET "UTF-8";body 
{
    background-color: lightblue;
}

h1 {
    color: Tomato;
    margin-left: 20px;
    align :center;
}
p {
    background-color: green;
}


div {
    
    height: 200px;
    width: 50%;
    background-color: powderblue;

  }



form {
font-size:100%;
color:black;
text-align:center
}

